<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Project</title>
</head>
<body>
<a href="/successLogin">My profile</a><br>
<h3>Add Project</h3>
<form action="/project/add" method="POST">
    <input type="hidden" name="id" th:value="${project.id}">
    <label for="name">Project name</label><br>
    <input type="text" id="name" name="name" required="" th:value="${project.name}"><br>
    <label for="deadline">Deadline</label><br>
    <input type="date" id="deadline" name="deadline" required="" th:value="${project.deadline}"><br>
    <select id="user" name="user">
<!--        <option th:if="${project.getId() !=null}" selected="${project.user.name} + ' ' + ${project.user.surname} "-->
<!--                th:text="${project.user.name} + ' ' + ${project.user.surname} ">-->

        <option th:each="user:${users}" th:value="${user.id}"
                th:text="${user.name} + ' '+ ${user.surname}"></option>
    </select><br>
    <input type="submit" value="Add project">
</form>

</body>
</html>