<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Task</title>
</head>
<body>
<a href="/successLogin">My profile</a><br>
<h3>Add Task</h3>
<br>
<form action="/task/add" method="POST">
    <label for="title"> Title</label><br>
    <input type="text" id="title" name="title" required=""><br>
    <label for="deadline">Deadline</label><br>
<!--    name="users" class="pull-right text-muted small"-->
<!--    name="driveCapacity" id=driveCapacity onchange="checkRPM()"-->
    <input type="date" id="deadline" name="deadline" required=""><br>
    <select name="users">
        <option th:each="user:${users}" th:value="${user.id}"
                th:text="${user.name}"></option>
    </select><br>
    <select name="project">
        <option th:each="project:${projects}" th:value="${project.id}"
                th:text="${project.name}"></option>
    </select><br>
    <select
            name="status">
        <option value="NEW">NEW</option>
        <option value="IN_PROGRESS">IN_PROGRESS</option>
        <option value="TESTING">TESTING</option>
        <option value="DONE">DONE</option>
    </select><br>
    <button type="submit"> Add task</button>
</form>
<!--<script>-->
<!--    function myFunction(){-->
<!--        let checkBox = document.getElementById("myCheck");-->
<!--        let text = document.getElementById("text");-->
<!--        if (checkBox.checked === true){-->
<!--            text.style.display = "block";-->
<!--        }else{-->
<!--            text.style.display = "none";-->
<!--        }-->
<!--    }-->
<!--</script>-->
</body>
</html>