<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<a href="/successLogin">My profile</a><br>
<h3>All Users</h3>
<table border="1">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Type</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.surname}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.type}"></td>
        <td>
            <a th:href="@{/user/delete/(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>





</body>
</html>